RewriteEngine On
# not rewrite css, js and images
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^/]*)$ /learning/index.php?sub=$1 []

RewriteRule ^([^/]*)$ /learning/index.php?sub=$1 [L]
RewriteRule ^([^/]*)/([^/]*)$ /learning/index.php?sub=$1&act=$2 [L]
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ /learning/index.php?sub=$1&act=$2&hash=$3 [L]

<Ifmodule mod_php5.c>
    php_value upload_max_filesize 16M
    php_value max_execution_time 180
    php_value max_input_time 180
    php_value memory_limit 64M
    php_value post_max_size 32M
    php_flag register_globals off
    php_flag display_errors off
    php_flag file_uploads on
    php_flag log_errors on
    php_flag output_buffering off
    php_flag register_argc_argv on
    php_flag magic_quotes_gpc off
    php_flag magic_quotes_runtime off
    php_flag magic_quotes_sybase off
    php_flag mysql.allow_persistent off
    php_flag register_long_arrays on
    php_flag allow_url_fopen on
    php_flag cgi.force_redirect on
    php_flag enable_dl on
</Ifmodule>
