RewriteEngine On
RewriteRule ^([^/]*)/([^/]*)\.html$ /index.php?sub=$1&act=$2 [L]
###Start Kloxo PHP config Area
### Please Don't edit these comments or the content in between. kloxo uses this to recognize the lines it writes to the the file. If the above line is corrupted, it may fail to recognize them, leading to multiple lines.
### begin content - please not remove this line

### MR -- attention
### 1. Move '#<Ifmodule !mod_php5.c>' until '#</Ifmodule>' on
###    above '###Start Kloxo PHP config Area'
### 2. Remove # in front of '#<Ifmodule !mod_php5.c>' and '#</Ifmodule>'
###    on point (1)
### 3. Remove # in front of 'AddHandler x-httpd-php52' to activate secondary-php
###    on point (1)
### 4. Or Remove # in front of 'AddHandler x-httpd-php' to activate primary-php
###    on point (1) if select suphp_worker/_event for primary-php

#<Ifmodule !mod_php5.c>
    #AddHandler x-httpd-php52 .php
    #AddHandler x-httpd-php .php
#</Ifmodule>

<Ifmodule mod_php5.c>
    php_value upload_max_filesize 16M
    php_value max_execution_time 180
    php_value max_input_time 180
    php_value memory_limit 64M
    php_value post_max_size 32M
    php_flag register_globals off
    php_flag display_errors off
    php_flag file_uploads on
    php_flag log_errors on
    php_flag output_buffering off
    php_flag register_argc_argv on
    php_flag magic_quotes_gpc off
    php_flag magic_quotes_runtime off
    php_flag magic_quotes_sybase off
    php_flag mysql.allow_persistent off
    php_flag register_long_arrays on
    php_flag allow_url_fopen on
    php_flag cgi.force_redirect on
    php_flag enable_dl on
</Ifmodule>

### end content - please not remove this line

###End Kloxo PHP config Area

